body, html {
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-screen-div {
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100vw;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;
    box-sizing: border-box;
    position: relative;
    flex-wrap: nowrap;
}

.logo {
    display: flex;
    font-size: 40px;
    color: #3dc6c1;
    align-items: center;
    justify-content: center;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.btn-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.btn {
    padding: 13px 30px;
    background-color: #2e3241;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 14px;
    position: relative;
}

.btn img {
    width: 15px;
    height: 15px;
    margin-left: 3px;
    margin-top: 3px;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.best{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    width: 200px;
    height: 100px;
    margin-top: 111px;
    font-size: 20px;
    left: 679px;
    color: #2e3241;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 150px;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #ddd;
}

.btn.active .dropdown {
    display: block;
}

body.dark-theme {
    background-color: #191d28;
    color: #fff;
}

body.dark-theme .btn {
    background-color: #2e3241;
}

body.dark-theme .dropdown {
    background-color: #fff;
}

body.dark-theme .dropdown a {
    color: black;
}

body.dark-theme .dropdown a:hover {
    background-color: #444;
}

.theme-toggle {
    margin-left: auto;
    flex-wrap: wrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.telgram-link {
    background-color: #3dc6c1;
    color: #191d28;
    border: none;
    padding: 13px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.tele-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #3dc6c1;
    border: none;
    white-space: nowrap;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 918px;
    flex-wrap: wrap;
}

.progress-bar-wrapper {
    width: 50px;
    height: 50px;
}

.CircularProgressbar {
    width: 100%;
    height: 100%;
}

.CircularProgressbar-trail {
    stroke: #d6d6d6;
}


.CircularProgressbar-path {
    stroke: #4db8ff;
    stroke-dasharray: 289.027px; /* Circumference of the circle */
    stroke-dashoffset: 0; /* Will be updated by JavaScript */
    transition: stroke-dashoffset 1s linear;
}

.CircularProgressbar-text {
    font-size: 20px;
    fill: #4db8ff;
    text-anchor: middle;
    alignment-baseline: central;
}
.price-info {
    text-align: center;
    margin-bottom: 40px;
}

.price-changes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.price-change {
    text-align: center;
}

.price-change .value {
    font-size: 33px;
    color: #3dc6c1;
}

.best-price {
    font-size: 48px;
    margin: 20px 0;
}

.price-note {
    font-size: 14px;
    color: #999;
}

.table-container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.heading {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.platform-data {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-wrap: nowrap;
}

.ticker-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e3241;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
}

.heading-content {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.platform-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.positive {
    color: #00ff00;
}

.negative {
    color: #ff0000;
}

.neutral {
    color: #ffffff;
}

@media (max-width: 768px) {
    .headings {
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer {
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.footer-text {
    margin: 0 10px;
}

.footer-text-link {
    color: gray;
    text-decoration: none;
}

.footer-text-link:hover {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

/* Tablets */
@media (max-width: 1024px) {
    .header {
        padding: 60px 20px; /* Adjust padding for smaller screens */
    }

    .logo {
        font-size: 30px; /* Reduce logo size */
    }

    .btn-container {
        flex-direction: row;
        align-items: flex-start; 
    }

    .best {
        width: 150px; /* Adjust width */
        height: 80px; /* Adjust height */
        margin-top: 60px; /* Adjust margin */
        font-size: 18px; /* Adjust font size */
        left: 20px; /* Adjust position */
    }

    .progress-bar-wrapper {
        width: 40px; /* Adjust width */
        height: 40px; /* Adjust height */
    }

    .CircularProgressbar-text {
        font-size: 18px; /* Adjust font size */
    }
}

/* Phones */
@media (max-width: 1024px) {
    .header {
        padding: 60px 20px;
    }

    .logo {
        font-size: 30px;
    }

    .btn-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .best {
        width: 150px;
        height: 80px;
        margin-top: 60px;
        font-size: 18px;
        left: 20px;
    }

    .progress-bar-wrapper {
        width: 40px;
        height: 40px;
    }

    .CircularProgressbar-text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 40px 10px;
    }

    .logo {
        font-size: 25px;
    }

    .btn-container {
        flex-direction: row;
        align-items: center;
    }

    .best {
        width: 120px;
        height: 60px;
        margin-top: 40px;
        font-size: 16px;
        left: 10px;
    }

    .progress-bar-wrapper {
        width: 30px;
        height: 30px;
    }

    .CircularProgressbar-text {
        font-size: 16px;
    }

    .footer {
        padding: 10px;
    }
}

@media (max-width: 1440px) {
    .header {
        padding: 80px 30px;
    }

    .logo {
        font-size: 35px;
    }

    .best {
        width: 180px;
        height: 90px;
        margin-top: 90px;
        font-size: 19px;
        left: 500px;
    }


}@media (max-width: 768px) {
    .price-info {
        display: none;
    }
}

/* Responsive adjustments for phones */
@media (max-width: 768px) {
    .header {
        flex-wrap: wrap; /* Allow wrapping on small screens */
        height: auto;
    }

    .header .logo, 
    .header .navbar-center, 
    .header .best, 
    .header .bar, 
    .header .telgram-link, 
    .header .theme-toggle {
        flex: 1 1 100%; /* Allow each item to take full width */
        text-align: center;
        margin-bottom: 20px;
    }

    .header .btn-container {
        flex-direction: column;
    }
}
/* Responsive adjustments for phones */
@media (max-width: 768px) {
    .btn-container {
        flex-wrap: wrap; 
        justify-content: center; /* Center buttons in a row */
        margin-top: 300px;
    }

    .btn-container .btn {
        flex: 1 1 100%; /* Each button takes full width in small screens */
        margin-bottom: 10px; /* Optional: Add margin between buttons when wrapped */
    }
    .theme-toggle{
        flex-wrap: wrap;
        margin-left: 200px;
        margin-top: 100px;
    }
    .table-container{
        flex-wrap: wrap;
        display: flex;
        margin-right: 400px;
        align-items: center;
        width: 100px;

    }
}